<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nguyentran.docbao">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/newspaper"
        android:label="Tổng hợp tin tức"
        android:roundIcon="@mipmap/newspaper"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsArticleActivity.DetailsArticleActivity"
            android:label="Nội Dung Chi Tiết" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider189701178245225"
            android:exported="true" />

        <activity
            android:name=".ReadArticleActivity.ReadArticleActivity"
            android:label="        Các tin đã đọc gần đây" />
        <activity
            android:name=".DetailsArticleActivity.DetailsArticleOfflineActivity"
            android:label="Nội Dung Chi Tiết"
            android:parentActivityName=".ReadArticleActivity.ReadArticleActivity" />
    </application>

</manifest>